<%# views/movies/show.ejs %>
<h1><%= movie.title %></h1>
<p><%= movie.description %></p>

<a href="/movies">Back to all movies</a>
<a href="<%= `/movies/${movie.id}/edit` %>">
  Edit Movie...do it...go on do it...
</a>


<% if (director) { %>
  <h4>Directed by: <%= `${director.first_name} ${director.last_name}` %></h4>
<% } %>


<form action="<%= `/movies/${movie.id}?_method=DELETE` %>" method="POST">
  <input type="submit" value="Delete" />
</form>
